html {
  font-size: 18px;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: black;
}

.site-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* logo area */
.logo {
  background-color: black;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 960px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0.66rem 0.5rem 0.66rem 0rem;
}

.logo a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: 0.66rem 0rem 0.66rem 1rem;
}
/* end logo area */

/* hero image */
.hero-image {
  width: 100%;
  height: 25rem;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.callout {
  width: 960px;
  height: auto;
  margin: 0 auto;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 9rem;
  z-index: 1;
}

.black-box {
    background-color: black;
    width: 20rem;
    display: block;
    padding: 2rem 0rem 2rem 3rem;
}

.callout-text {
  padding-bottom: 0.25rem;
}

.callout-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.callout-text span {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
/* end hero image */

/* navigation */
.navigation {
  width: 100%;
  background-color: firebrick;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navlink {
  width: 960px;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0rem;
}

.nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navlink span a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
/* end navigation */

/* main container */
.main.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* products */
.products {
  width: 960px;
  margin: 0 auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 3rem;
}

.product-box {
  width: 30%;
  height: auto;
  margin: 0 auto;
  border: 4px solid black;
  display: inline-block;
}

.product-img {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img img {
  width: auto;
  height: 9rem;
}

.product-title {
  background-color: black;
  width: 100%
  height: auto;
}

.product-title h2 {
  color: white;
  text-align: center;
  line-height: 1.4rem;
  padding: 0.5rem 0rem;
}

/* end products */

/* contact */

/* end contact */

/* end main container */

/* footer */

/* end footer */
